{% extends 'base.html' %}

{% block title %}Consultar Docente{% endblock %}

{% block content %}
    <h1>Consultar Docente</h1>
    <form method="post" class="form-inline">
        {% csrf_token %}
        <label for="cuil">CUIL del Docente:</label>
        <input type="text" id="cuil" name="cuil" required>
        <button type="submit" class="button-submit">Buscar</button>
    </form>
    {% if docente %}
        <p>Docente encontrado: {{ docente.cuil }} --- {{ docente.apellido }} {{ docente.nombre }}</p>
        <div class="button-group">
            <form method="get" action="{% url 'ver_datos_docente' cuil=docente.cuil %}">
                <button type="submit" class="button-submit">Ver Datos</button>
            </form>
            <form method="post" action="{% url 'eliminar_docente' cuil=docente.cuil %}" id="delete-form">
                {% csrf_token %}
                <button type="button" class="button-submit" id="delete-button">Eliminar</button>
            </form>
            <form method="get" action="{% url 'editar_docente' cuil=docente.cuil %}">
                <button type="submit" class="button-submit">Modificar</button>
            </form>
        </div>
    {% elif docente is not None %}
        <p style="color: red;">Docente no encontrado.</p>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('delete-button').addEventListener('click', function() {
                if (confirm('¿Estás seguro de que quieres eliminar este docente?')) {
                    document.getElementById('delete-form').submit();
                }
            });
        });
    </script>
{% endblock %}
