{% extends 'base.html' %}

{% block title %}Consulta de Comprobantes{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'documentos/css/consulta.css' %}">
{% endblock %}

{% block content %}
<div class="consulta-container">
    <!-- Título -->
    <h2>Consulta de Comprobantes</h2>

    <!-- Formulario de consulta -->
    <form method="post" class="consulta-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_consulta">DNI:</label>
            {{ form.consulta }}
        </div>
        <div class="form-group">
            <label for="id_fecha_inicio">Desde (Fecha inicio):</label>
            {{ form.fecha_inicio }}
        </div>
        <div class="form-group">
            <label for="id_fecha_fin">Hasta (Fecha fin):</label>
            {{ form.fecha_fin }}
        </div>
        <button type="submit" class="consulta-buscar-button">Buscar</button>
    </form>

    <!-- Resultados de la búsqueda -->
    {% if search_done %}
        {% if resultados %}
            <div class="consulta-resultados">
                <h3>Resultados de la búsqueda</h3>
                <p>Cantidad de archivos encontrados: {{ cantidad_archivos }}</p>
                <ul>
                    {% for resultado in resultados %}
                    <li>
                        <strong>Nombre:</strong> <a href="{{ resultado.url }}" target="_blank">{{ resultado.nombre }}</a><br>
                        <strong>Fecha de modificación:</strong> {{ resultado.fecha }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No se encontraron documentos.</p>
        {% endif %}
    {% endif %}

    <!-- Botón para descargar archivos -->
    <div class="descargar-archivos-container">
        <a href="{% url 'descargar_archivos_nube' %}" class="descargar-archivos-button">Descargar Archivos de Google Drive</a>
    </div>
</div>

<script>
    async function descargarArchivos() {
        try {
            const response = await fetch("{% url 'descargar_archivos_nube' %}");
            const data = await response.json();
            if (data.status === 'success') {
                alert('Archivos descargados:\n' + data.descargados.join('\n') + '\n\nArchivos omitidos:\n' + data.omitidos.join('\n'));
            } else {
                alert('Error: ' + data.message);
            }
        } catch (error) {
            console.error('Error en la descarga:', error);
            alert('Ocurrió un error al intentar descargar los archivos.');
        }
    }
</script>
{% endblock %}
