{% extends 'base.html' %}

{% block title %}Detalle del Alumno{% endblock %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'administracion_alumnos/css/detalle_estudiante.css' %}">
{% endblock %}

{% block content %}
<div class="detail-student-container">
    <h1>{{ estudiante.apellidos_estudiante }} {{ estudiante.nombres_estudiante }}</h1>
    <p><strong>CUIL:</strong> {{ estudiante.cuil_estudiante }}</p>
    <h2>Datos de Contacto</h2>
    <p><strong>Correo electrónico:</strong> {{ estudiante.email_estudiante }}</p>
    <p><strong>Telefono Responsable:</strong> {{ estudiante.tel_cel_responsable1 }}</p>
    <div class="button-group">
        <form class="button-container" action="{% url 'ver_datos_estudiante' pk=estudiante.pk %}" method="get">
            <button class="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svgIcon">
                    <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                </svg>
            </button>
        </form>

        <form class="button-container" action="{% url 'estudiante_edit' pk=estudiante.pk %}" method="get">
            <button class="button-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svgIcon-1">
                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                    <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                </svg>
            </button>
        </form>

        <form class="button-container" action="{% url 'estudiante_list' %}" method="get">
            <button class="button-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svgIcon-2">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-4.28 9.22a.75.75 0 0 0 0 1.06l3 3a.75.75 0 1 0 1.06-1.06l-1.72-1.72h5.69a.75.75 0 0 0 0-1.5h-5.69l1.72-1.72a.75.75 0 0 0-1.06-1.06l-3 3Z" clip-rule="evenodd" />
                </svg>
            </button>
        </form>    
    </div>
</div>
{% endblock %}

