{% extends 'base.html' %}

{% block title %}Lista de Alumnos{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="../../static/administracion_alumnos/css/styles_listar_alumnos.css">
{% endblock %}

{% block content %}

<div class="alumnos-container">
    <div class="alumnos">
        <div class="filters">
            <!-- Filtro 1: Selección de Nivel -->
            <select id="nivel-filter" name="nivel">
                <option value="">Seleccionar Nivel</option>
                <option value="Inicial">Nivel Inicial</option>
                <option value="Primario">Nivel Primario</option>
                <option value="Secundario">Nivel Secundario</option>
            </select>
        </div>

        <form action="{% url 'generar_pdf_lista_alumnos' %}" method="get">
            <!-- From Uiverse.io by vinodjangid07 -->
            <button class="Documents-btn">
            <span class="folderContainer">
                <svg
                class="fileBack"
                width="146"
                height="133"
                viewBox="0 0 146 113"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M0 4C0 1.79086 1.79086 0 4 0H50.3802C51.8285 0 53.2056 0.627965 54.1553 1.72142L64.3303 13.4371C65.2799 14.5306 66.657 15.1585 68.1053 15.1585H141.509C143.718 15.1585 145.509 16.9494 145.509 19.1585V109C145.509 111.209 143.718 113 141.509 113H3.99999C1.79085 113 0 111.209 0 109V4Z"
                    fill="url(#paint0_linear_117_4)"
                ></path>
                <defs>
                    <linearGradient
                    id="paint0_linear_117_4"
                    x1="0"
                    y1="0"
                    x2="72.93"
                    y2="95.4804"
                    gradientUnits="userSpaceOnUse"
                    >
                    <stop stop-color="#8F88C2"></stop>
                    <stop offset="1" stop-color="#5C52A2"></stop>
                    </linearGradient>
                </defs>
                </svg>
                <svg
                class="filePage"
                width="88"
                height="99"
                viewBox="0 0 88 99"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <rect width="88" height="99" fill="url(#paint0_linear_117_6)"></rect>
                <defs>
                    <linearGradient
                    id="paint0_linear_117_6"
                    x1="0"
                    y1="0"
                    x2="81"
                    y2="160.5"
                    gradientUnits="userSpaceOnUse"
                    >
                    <stop stop-color="white"></stop>
                    <stop offset="1" stop-color="#686868"></stop>
                    </linearGradient>
                </defs>
                </svg>

                <svg
                class="fileFront"
                width="160"
                height="79"
                viewBox="0 0 160 79"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M0.29306 12.2478C0.133905 9.38186 2.41499 6.97059 5.28537 6.97059H30.419H58.1902C59.5751 6.97059 60.9288 6.55982 62.0802 5.79025L68.977 1.18034C70.1283 0.410771 71.482 0 72.8669 0H77H155.462C157.87 0 159.733 2.1129 159.43 4.50232L150.443 75.5023C150.19 77.5013 148.489 79 146.474 79H7.78403C5.66106 79 3.9079 77.3415 3.79019 75.2218L0.29306 12.2478Z"
                    fill="url(#paint0_linear_117_5)"
                ></path>
                <defs>
                    <linearGradient
                    id="paint0_linear_117_5"
                    x1="38.7619"
                    y1="8.71323"
                    x2="66.9106"
                    y2="82.8317"
                    gradientUnits="userSpaceOnUse"
                    >
                    <stop stop-color="#C3BBFF"></stop>
                    <stop offset="1" stop-color="#51469A"></stop>
                    </linearGradient>
                </defs>
                </svg>
            </span>
            <p class="text">Generar PDF</p>
            </button>
        </form>
    </div>
    
    <div class="tabs">
        <button class="tab-button active" onclick="showTab('todos')">Todos</button>
        <button class="tab-button" onclick="showTab('pendientes')">Pendientes</button>
        <button class="tab-button" onclick="showTab('aprobados')">Aprobados</button>
    </div>
    <div class="alumnos-scroll-container">
        <div class="tab-content active" id="todos">
            <table class="alumnos-table" id="data-table">
                <thead>
                    <tr>
                        <th>CUIL</th>
                        <th>Apellido/s</th>
                        <th>Nombre/s</th>
                        <th>Nivel</th>
                        <th>Subnivel</th>
                        <th>Turno</th>
                        <th>Fecha Recepción</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% if estudiantes %}
                        {% for estudiante in estudiantes %}
                            <tr data-nivel="{{ estudiante.nivel_estudiante }}" 
                            data-subnivel="{{ estudiante.subnivel_estudiante }}" 
                            data-turno="{{ estudiante.turno_estudiante }}">
                                <td>{{ estudiante.cuil_estudiante }}</td>
                                <td>{{ estudiante.apellidos_estudiante }}</td>
                                <td>{{ estudiante.nombres_estudiante }}</td>
                                <td>{{ estudiante.nivel_estudiante }}</td>
                                <td>
                                    {% if estudiante.nivel_inicial3 %}
                                        3 Años
                                    {% elif estudiante.nivel_inicial4 %}
                                        4 Años
                                    {% elif estudiante.nivel_inicial5 %}
                                        5 Años
                                    {% elif estudiante.nivel_primario1 %}
                                        1er Grado
                                    {% elif estudiante.nivel_primario2 %}
                                        2do Grado
                                    {% elif estudiante.nivel_primario3 %}
                                        3er Grado
                                    {% elif estudiante.nivel_primario4 %}
                                        4to Grado
                                    {% elif estudiante.nivel_primario5 %}
                                        5to Grado
                                    {% elif estudiante.nivel_primario6 %}
                                        6to Grado
                                    {% elif estudiante.nivel_primario7 %}
                                        7mo Grado
                                    {% elif estudiante.nivel_secundario1 %}
                                        1er Año
                                    {% elif estudiante.nivel_secundario2 %}
                                        2do Año
                                    {% elif estudiante.nivel_secundario3 %}
                                        3er Año
                                    {% elif estudiante.nivel_secundario4 %}
                                        4to Año
                                    {% elif estudiante.nivel_secundario5 %}
                                        5to Año
                                    {% else %}
                                        No definido
                                    {% endif %}
                                </td>
                                <td>
                                    {% if estudiante.nivel_inicial3 %}
                                        {{ estudiante.nivel_inicial3 }}
                                    {% elif estudiante.nivel_inicial4 %}
                                        {{ estudiante.nivel_inicial4 }}
                                    {% elif estudiante.nivel_inicial5 %}
                                        {{ estudiante.nivel_inicial5 }}
                                    {% elif estudiante.nivel_primario1 %}
                                        {{ estudiante.nivel_primario1 }}
                                    {% elif estudiante.nivel_primario2 %}
                                        {{ estudiante.nivel_primario2 }}
                                    {% elif estudiante.nivel_primario3 %}
                                        {{ estudiante.nivel_primario3 }}
                                    {% elif estudiante.nivel_primario4 %}
                                        {{ estudiante.nivel_primario4 }}
                                    {% elif estudiante.nivel_primario5 %}
                                        {{ estudiante.nivel_primario5 }}
                                    {% elif estudiante.nivel_primario6 %}
                                        {{ estudiante.nivel_primario6 }}
                                    {% elif estudiante.nivel_primario7 %}
                                        {{ estudiante.nivel_primario7 }}
                                    {% elif estudiante.nivel_secundario1 %}
                                        {{ estudiante.nivel_secundario1 }}
                                    {% elif estudiante.nivel_secundario2 %}
                                        {{ estudiante.nivel_secundario2 }}
                                    {% elif estudiante.nivel_secundario3 %}
                                        {{ estudiante.nivel_secundario3 }}
                                    {% elif estudiante.nivel_secundario4 %}
                                        {{ estudiante.nivel_secundario4 }}
                                    {% elif estudiante.nivel_secundario5 %}
                                        {{ estudiante.nivel_secundario5 }}
                                    {% else %}
                                        No definido
                                    {% endif %}
                                </td>
                                </td>
                                <td>{{ estudiante.fecha_recepcion }}</td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'ver_datos_estudiante' pk=estudiante.pk %}" method="get">
                                        <div class="tooltip-container">
                                            <span class="tooltip-text">Ver Datos</span>
                                            <button class="alumnos-btn-ver" type="submit">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'generar_contrato' estudiante.pk %}" method="get">
                                        <div class="tooltip-container">
                                            <span class="tooltip-text">Generar Contrato</span>
                                            <button class="alumnos-btn-pdf" type="submit">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td>                           
                            </tr>  
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="26">No hay alumnos en la base de datos.</td>
                        </tr>
                    {% endif %}
                <tbody>
            </table>
        </div>
        <div class="tab-content" id="pendientes">
            <table class="alumnos-table" id="data-table">
                <thead>
                    <tr>
                        <th>CUIL</th>
                        <th>Apellido/s</th>
                        <th>Nombre/s</th>
                        <th>Nivel</th>
                        <th>Grado</th>
                        <th>Turno</th>
                        <th>Fecha Recepción</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- Filas de datos iniciales -->
                    {% if estudiantes_pendientes %}
                        {% for estudiante in estudiantes_pendientes %}
                            <tr data-nivel="{{ estudiante.nivel_estudiante }}" 
                            data-subnivel="{{ estudiante.subnivel_estudiante }}" 
                            data-turno="{{ estudiante.turno_estudiante }}">
                                <td>{{ estudiante.cuil_estudiante }}</td>
                                <td>{{ estudiante.apellidos_estudiante }}</td>
                                <td>{{ estudiante.nombres_estudiante }}</td>
                                <td>{{ estudiante.nivel_estudiante }}</td>
                                <td>
                                    {% if estudiante.nivel_inicial3 %}
                                        3 Años
                                    {% elif estudiante.nivel_inicial4 %}
                                        4 Años
                                    {% elif estudiante.nivel_inicial5 %}
                                        5 Años
                                    {% elif estudiante.nivel_primario1 %}
                                        1er Grado
                                    {% elif estudiante.nivel_primario2 %}
                                        2do Grado
                                    {% elif estudiante.nivel_primario3 %}
                                        3er Grado
                                    {% elif estudiante.nivel_primario4 %}
                                        4to Grado
                                    {% elif estudiante.nivel_primario5 %}
                                        5to Grado
                                    {% elif estudiante.nivel_primario6 %}
                                        6to Grado
                                    {% elif estudiante.nivel_primario7 %}
                                        7mo Grado
                                    {% elif estudiante.nivel_secundario1 %}
                                        1er Año
                                    {% elif estudiante.nivel_secundario2 %}
                                        2do Año
                                    {% elif estudiante.nivel_secundario3 %}
                                        3er Año
                                    {% elif estudiante.nivel_secundario4 %}
                                        4to Año
                                    {% elif estudiante.nivel_secundario5 %}
                                        5to Año
                                    {% else %}
                                        No definido
                                    {% endif %}
                                </td>
                                <td>
                                    {% if estudiante.nivel_inicial3 %}
                                        {{ estudiante.nivel_inicial3 }}
                                    {% elif estudiante.nivel_inicial4 %}
                                        {{ estudiante.nivel_inicial4 }}
                                    {% elif estudiante.nivel_inicial5 %}
                                        {{ estudiante.nivel_inicial5 }}
                                    {% elif estudiante.nivel_primario1 %}
                                        {{ estudiante.nivel_primario1 }}
                                    {% elif estudiante.nivel_primario2 %}
                                        {{ estudiante.nivel_primario2 }}
                                    {% elif estudiante.nivel_primario3 %}
                                        {{ estudiante.nivel_primario3 }}
                                    {% elif estudiante.nivel_primario4 %}
                                        {{ estudiante.nivel_primario4 }}
                                    {% elif estudiante.nivel_primario5 %}
                                        {{ estudiante.nivel_primario5 }}
                                    {% elif estudiante.nivel_primario6 %}
                                        {{ estudiante.nivel_primario6 }}
                                    {% elif estudiante.nivel_primario7 %}
                                        {{ estudiante.nivel_primario7 }}
                                    {% elif estudiante.nivel_secundario1 %}
                                        {{ estudiante.nivel_secundario1 }}
                                    {% elif estudiante.nivel_secundario2 %}
                                        {{ estudiante.nivel_secundario2 }}
                                    {% elif estudiante.nivel_secundario3 %}
                                        {{ estudiante.nivel_secundario3 }}
                                    {% elif estudiante.nivel_secundario4 %}
                                        {{ estudiante.nivel_secundario4 }}
                                    {% elif estudiante.nivel_secundario5 %}
                                        {{ estudiante.nivel_secundario5 }}
                                    {% else %}
                                        No definido
                                    {% endif %}
                                </td>
                                <td class="fecha">{{ estudiante.fecha_recepcion }}</td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'ver_datos_estudiante' pk=estudiante.pk %}" method="get">
                                        <div class="tooltip-container">
                                            <span class="tooltip-text">Ver Datos</span>
                                            <button class="alumnos-btn-ver" type="submit">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'generar_contrato' estudiante.pk %}" method="get">
                                        <div class="tooltip-container">
                                            <span class="tooltip-text">Generar Contrato</span>
                                            <button class="alumnos-btn-pdf" type="submit">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td>                                
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No hay alumnos en la base de datos.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-content" id="aprobados">
            <table class="alumnos-table" id="data-table">
                <thead>
                    <tr>
                        <th>CUIL</th>
                        <th>Apellido/s</th>
                        <th>Nombre/s</th>
                        <th>Nivel</th>
                        <th>Grado</th>
                        <th>Turno</th>
                        <th>Fecha Recepción</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% if estudiantes_aprobados %}
                        {% for estudiante in estudiantes_aprobados %}
                            <tr data-nivel="{{ estudiante.nivel_estudiante }}" 
                            data-subnivel="{{ estudiante.subnivel_estudiante }}" 
                            data-turno="{{ estudiante.turno_estudiante }}">
                                <td>{{ estudiante.cuil_estudiante }}</td>
                                <td>{{ estudiante.apellidos_estudiante }}</td>
                                <td>{{ estudiante.nombres_estudiante }}</td>
                                <td>{{ estudiante.nivel_estudiante }}</td>
                                <td>
                                    {% if estudiante.nivel_inicial3 %}
                                        3 Años
                                    {% elif estudiante.nivel_inicial4 %}
                                        4 Años
                                    {% elif estudiante.nivel_inicial5 %}
                                        5 Años
                                    {% elif estudiante.nivel_primario1 %}
                                        1er Grado
                                    {% elif estudiante.nivel_primario2 %}
                                        2do Grado
                                    {% elif estudiante.nivel_primario3 %}
                                        3er Grado
                                    {% elif estudiante.nivel_primario4 %}
                                        4to Grado
                                    {% elif estudiante.nivel_primario5 %}
                                        5to Grado
                                    {% elif estudiante.nivel_primario6 %}
                                        6to Grado
                                    {% elif estudiante.nivel_primario7 %}
                                        7mo Grado
                                    {% elif estudiante.nivel_secundario1 %}
                                        1er Año
                                    {% elif estudiante.nivel_secundario2 %}
                                        2do Año
                                    {% elif estudiante.nivel_secundario3 %}
                                        3er Año
                                    {% elif estudiante.nivel_secundario4 %}
                                        4to Año
                                    {% elif estudiante.nivel_secundario5 %}
                                        5to Año
                                    {% else %}
                                        No definido
                                    {% endif %}
                                </td>
                                <td>
                                    {% if estudiante.nivel_inicial3 %}
                                        {{ estudiante.nivel_inicial3 }}
                                    {% elif estudiante.nivel_inicial4 %}
                                        {{ estudiante.nivel_inicial4 }}
                                    {% elif estudiante.nivel_inicial5 %}
                                        {{ estudiante.nivel_inicial5 }}
                                    {% elif estudiante.nivel_primario1 %}
                                        {{ estudiante.nivel_primario1 }}
                                    {% elif estudiante.nivel_primario2 %}
                                        {{ estudiante.nivel_primario2 }}
                                    {% elif estudiante.nivel_primario3 %}
                                        {{ estudiante.nivel_primario3 }}
                                    {% elif estudiante.nivel_primario4 %}
                                        {{ estudiante.nivel_primario4 }}
                                    {% elif estudiante.nivel_primario5 %}
                                        {{ estudiante.nivel_primario5 }}
                                    {% elif estudiante.nivel_primario6 %}
                                        {{ estudiante.nivel_primario6 }}
                                    {% elif estudiante.nivel_primario7 %}
                                        {{ estudiante.nivel_primario7 }}
                                    {% elif estudiante.nivel_secundario1 %}
                                        {{ estudiante.nivel_secundario1 }}
                                    {% elif estudiante.nivel_secundario2 %}
                                        {{ estudiante.nivel_secundario2 }}
                                    {% elif estudiante.nivel_secundario3 %}
                                        {{ estudiante.nivel_secundario3 }}
                                    {% elif estudiante.nivel_secundario4 %}
                                        {{ estudiante.nivel_secundario4 }}
                                    {% elif estudiante.nivel_secundario5 %}
                                        {{ estudiante.nivel_secundario5 }}
                                    {% else %}
                                        No definido
                                    {% endif %}
                                </td>
                                <td class="fecha">{{ estudiante.fecha_recepcion }}</td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'ver_datos_estudiante' pk=estudiante.pk %}" method="get">
                                        <div class="tooltip-container">
                                            <span class="tooltip-text">Ver Datos</span>
                                            <button class="alumnos-btn-ver" type="submit">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'generar_contrato' estudiante.pk %}" method="get">
                                        <div class="tooltip-container">
                                            <span class="tooltip-text">Generar Contrato</span>
                                            <button class="alumnos-btn-pdf" type="submit">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td> 
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No hay alumnos aprobados.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

function showTab(tabName) {
    // Ocultar todas las pestañas
    const tabs = document.querySelectorAll('.tab-content');
    tabs.forEach(tab => tab.classList.remove('active'));
    
    // Mostrar la pestaña seleccionada
    const activeTab = document.getElementById(tabName);
    activeTab.classList.add('active');
    
    // Cambiar estilo de botones
    const buttons = document.querySelectorAll('.tab-button');
    buttons.forEach(button => button.classList.remove('active'));
    const activeButton = document.querySelector(`.tab-button[onclick="showTab('${tabName}')"]`);
    activeButton.classList.add('active');
}

document.addEventListener('DOMContentLoaded', function() {
    let dateElements = document.querySelectorAll('.fecha');
    dateElements.forEach(function(el) {
        let dateValue = el.textContent.trim();
        if (dateValue) {
            let date = new Date(dateValue);
            // Verificar si la fecha es válida
            if (!isNaN(date)) {
                el.textContent = date.toLocaleDateString('es-AR'); // dd/mm/yyyy
            } else {
                el.textContent = ''; // Dejar vacío si la fecha es inválida
            }
        } else {
            el.textContent = ''; // Dejar vacío si no hay valor
        }
    });
});

document.addEventListener('DOMContentLoaded', function() {
    // Filtro
    const nivelFilter = document.getElementById('nivel-filter');
    const tableRows = document.querySelectorAll('#table-body tr');

    // Función para filtrar la tabla según el filtro de nivel
    nivelFilter.addEventListener('change', filterTable);

    // Función para filtrar la tabla
    function filterTable() {
        const nivel = nivelFilter.value.toLowerCase();

        tableRows.forEach(function(row) {
            const rowNivel = row.getAttribute('data-nivel').toLowerCase();

            // Mostrar o ocultar la fila según el filtro de nivel
            const showRow = (nivel === "" || rowNivel.includes(nivel));
            row.style.display = showRow ? "" : "none";
        });
    }

    // Filtrar cuando cambie el filtro de nivel
    filterTable();
});

</script>

{% endblock %}
