{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hogar de Bethania{% endblock %}</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Verdana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block extra_styles %}
    <link rel="stylesheet" href="../apps/administracion_alumnos/static/administracion_alumnos/css/styles_listar_alumnos.css">
    <link rel="stylesheet" href="../apps/administracion_alumnos/static/administracion_alumnos/css/styles_ver_datos.css">
    <link rel="stylesheet" href="../apps/administracion_alumnos/static/administracion_alumnos/css/styles_registrar_alumno.css">
    <link rel="stylesheet" href="../apps/administracion_alumnos/static/administracion_alumnos/css/detalle_estudiante.css">
    <link rel="stylesheet" href="{% static 'css/editar_alumno' %}">
    <link rel="stylesheet" href="{% static 'administracion_alumnos/css/alumno_confirm_delete.css' %}">
    <link rel="stylesheet" href="{% static 'administracion_alumnos/css/error_aprobacion.css' %}">
    {% endblock %}
</head>

<body>

    {% if user.is_authenticated %}
    <!-- Mostrar contenido solo si el usuario ha iniciado sesión -->

        <!-- Barra de navegación Lateral -->
        <div id="sidebar" class="sidebar">
            
            <ul class="sidebar-items">
                <li>
                    <a href="{% url 'home' %}" onclick="window.location.href=this.href; return false;">
                        <i class="fas fa-home"></i>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user-graduate"></i>
                        <span class="text">Alumno</span>
                        <button class="expand-btn">+</button>
                    </a>
                    <ul class="subitems">
                        <li><a href="{% url 'estudiante_list' %}">● Lista de Alumnos</a></li>
                        <li><a href="{% url 'consultar_alumno' %}">● Consultar Alumnos</a></li>
                        <li><a href="{% url 'registrar_alumno' %}">● Registrar Alumno</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        <span class="text">Administración</span>
                        <button class="expand-btn">+</button>
                    </a>
                </li>
                <!--
                <li>
                    <a href="#">
                        <i class="fas fa-layer-group"></i>
                        <span class="text">Niveles</span>
                        <button class="expand-btn">+</button>
                    </a>
                    <ul class="subitems">
                        <li><a href="{% url 'niveles_list' %}">● Lista de Niveles</a></li>
                        <li><a href="{% url 'registrar_nivel' %}">● Registrar Nivel</a></li>
                        <li><a href="{% url 'editar_nivel' %}">● Editar Nivel</a></li>
                    </ul>
                </li>
            -->
                <li>
                    <a href="#">
                        <i class="fas fa-cogs"></i>
                        <span class="text">Configuración</span>
                        <button class="expand-btn">+</button>
                    </a>
                    <ul class="subitems">
                        <li><a href="#">● Configurar Usuario</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="open-btn" onclick="toggleSidebar()">
            <i class="fas fa-bars" id="toggle-icon"></i>
        </button>

        <nav class="navbar">
            <ul class="nav-items">
                <li class="logo"><img src="{% static 'img/logo1.png' %}" alt="Poseidon"></li>
            </ul>
            <div class="signin-btn">
                <a href="{% url 'cerrar_sesion' %}" id="signin-link"></a>
            </div>
        </nav>
    
        <!-- Contenido del sitio -->
        {% block content %}
        {% endblock %}

        <!-- Pie de página -->
        <footer class="footer">
            <div class="top-footer"></div> <!-- Rectángulo superior vacío -->

            <div class="floating-box">
                <div class="box-content">
                    <div class="developers">
                        <p>Desarrollado por:</p>
                        <ul>
                            <li>- Alejandro Diaz</li>
                            <li>- Sandoval Alexis</li>
                            <li>- Ramiro Meza</li>
                            <li>- Agustin Sandoval</li>
                            <li>- Fabian Ojeda</li>
                            <li>- Jose Chavez</li>
                        </ul>
                    </div>
                    <div class="logo1">
                        <img src="{% static 'img/logo1.png' %}" alt="Logo" class="logo-image">
                    </div>
                </div>
            </div>

            <div class="middle-footer">
                <ul class="footer-nav">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'consultar_alumno' %}">Consultar Alumnos</a></li>
                    <li><a href="{% url 'consulta' %}">Consultar Comprobante</a></li>
                    <!--<li><a href="#">Cuotas</a></li>
                    <li><a href="#">Niveles</a></li>
                    -->
                </ul>
            </div>

            <div class="bottom-footer">
                <div class="social-icons">
                    <a href="https://facebook.com/hdebethania" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/hdebethania" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                    <a href="https://hdebethania.edu.ar/" target="_blank" rel="noopener noreferrer"><i class="fab fa-user-graduate"></i></a>
                    <a href="https://www.youtube.com/c/HogardeBethania" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                </div>
                <div>
                    <p class="copyright">&copy; 2024 Hogar de Bethania. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>

    {% else %}
        <!-- Mensaje para usuarios no autenticados -->
        <p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver el contenido.</p>
    {% endif %}

    <!-- Scripts -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script defer src="{% static 'js/base.js' %}"></script> <!-- Incluye el script -->

</body>
</html>
