/* Estilos específicos para la gestión de niveles */
h1{
    color: white;
}
.conta {
    margin: 20px;
    padding: 20px;
    background-color: #5719c9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
